.promo {
    display: flex;
}
.promo__info {
    padding: 200px 43px 264px 110px;
    flex-basis: 50%;
}
.promo__line {
    width: 140px;
    height: 4px;
    border-radius: 20px;
    background: rgb(255, 156, 8 );
    display: block;
    margin-bottom: 25px;
}
.promo__title {
    color: rgb(9, 9, 9);
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    font-family: 'Roboto', Arial,"Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 1;
    max-width: 603px;
    margin-bottom: 17px;
}
.promo__text {
    color: rgb(110, 110, 110);
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 43px;
}
.promo__img-wrap {
    flex-basis: 50%;
    overflow: hidden;
}
.promo__img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.form {
    margin: 40px;
}