
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Roboto:wght@700&display=swap');

.container-main {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}
.link{
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    background-color: rgb(255, 156, 8);
    border-radius: 12px;
    padding: 16px 24px;
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    border: none;
}

.title{
    color: rgb(9, 9, 9);
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 58px;
}
.orange__title {
    color: rgb(255, 156, 8);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.btn-orange{
    border-radius: 10px;
    background: rgb(255, 156, 8);
    color: rgb(9, 9, 9);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 23px 38px;
    display: inline-block;
    transition: all .5s;
}
.btn-orange:hover {
    color: cornsilk;
}
.btn-white{
    border: 1px solid rgb(240, 236, 232);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
    background: rgb(255, 255, 255);
    color: rgb(9, 9, 9);
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 23px 38px;
    display: inline-block;
    transition: all .5s;
}
.btn-white:hover{
    background: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(9, 9, 9) ;
}
.btn-black {
    background: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    transition: all .5s;
}
.btn-black:hover {
    background: white;
    color: rgb(9, 9, 9);
}
.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.buttons {
    display: flex;
    gap: 28px;
    align-items: center;
}
.list {
    margin-top: 20px;
}
.list-item {
    color: rgb(9, 9, 9);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.list-item:last-child {
    margin-bottom: 0;
}





